* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

body {
	background-image: url("../images/main-bg.jpg");
	background-size: cover;
}


.container {
	margin: 30px auto;
	width: 100%;
	max-width: 460px;
	max-height: 470px;
	background: #fff;
	padding: 30px 30px;
	border-radius: 3px;
}

.main {
	font-family: "Arial", sans-serif;
	font-weight: 700;
	font-size: 24px;
	/* text-align: center; */
	background: url("../images/sign-up-icon.svg") no-repeat;
	margin-bottom: 15px;
	padding-left: 30px;

}

.main-text {
	font-family: "Arial", sans-serif;
	font-size: 13px;
	color: #939393;
	margin-bottom: 30px;
	line-height: 20px;
	padding-right: 30p;;
}

/* .main-text {
	padding-left: 40px;
} */

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.field {
	background: #f0f0f0;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 15px;
	padding: 10px 15px;
}

.field:nth-child(1)  {
	width: 48%;
}

.field:nth-child(2)  {
	width: 48%;
}

.field:nth-child(3)  {
	width: 100%;
}

.field:nth-child(4)  {
	width: 100%;
}

.button {
	font-family: "Arial", sans-serif;
	font-weight: 700;
	color: #fff;
	background: #ea355a;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
	
}

.botom-text {
	font-family: "Arial", sans-serif;
	color: #939393;
	font-size: 12px;
	line-height: 20px;

}

a {
	color: #ea355a;
	text-decoration: none;
}

button {
	box-shadow: inset 0 -9px 0px -5px #d3275e;
	cursor: pointer;
	transition: all .3s;
}

button:hover {
	background: #d3275e;
}

button:active {
	background: #941c42;
	box-shadow: inset -5px -8px 0px -5px #941c42;
}